.dark-medium-contrast {
  --md-sys-color-primary: rgb(187 201 255);
  --md-sys-color-surface-tint: rgb(181 196 255);
  --md-sys-color-on-primary: rgb(0 18 66);
  --md-sys-color-primary-container: rgb(104 139 249);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(189 201 250);
  --md-sys-color-on-secondary: rgb(5 19 58);
  --md-sys-color-secondary-container: rgb(131 143 189);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(245 180 255);
  --md-sys-color-on-tertiary: rgb(44 0 56);
  --md-sys-color-tertiary-container: rgb(196 112 213);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(18 19 26);
  --md-sys-color-on-background: rgb(226 225 235);
  --md-sys-color-surface: rgb(18 19 26);
  --md-sys-color-on-surface: rgb(252 250 255);
  --md-sys-color-surface-variant: rgb(67 70 83);
  --md-sys-color-on-surface-variant: rgb(200 202 217);
  --md-sys-color-outline: rgb(160 162 177);
  --md-sys-color-outline-variant: rgb(128 130 145);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(226 225 235);
  --md-sys-color-inverse-on-surface: rgb(40 42 49);
  --md-sys-color-inverse-primary: rgb(11 62 171);
  --md-sys-color-primary-fixed: rgb(220 225 255);
  --md-sys-color-on-primary-fixed: rgb(0 13 54);
  --md-sys-color-primary-fixed-dim: rgb(181 196 255);
  --md-sys-color-on-primary-fixed-variant: rgb(0 45 136);
  --md-sys-color-secondary-fixed: rgb(220 225 255);
  --md-sys-color-on-secondary-fixed: rgb(1 13 53);
  --md-sys-color-secondary-fixed-dim: rgb(185 197 245);
  --md-sys-color-on-secondary-fixed-variant: rgb(40 52 92);
  --md-sys-color-tertiary-fixed: rgb(253 214 255);
  --md-sys-color-on-tertiary-fixed: rgb(36 0 46);
  --md-sys-color-tertiary-fixed-dim: rgb(244 174 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(93 7 114);
  --md-sys-color-surface-dim: rgb(18 19 26);
  --md-sys-color-surface-bright: rgb(56 57 64);
  --md-sys-color-surface-container-lowest: rgb(12 14 20);
  --md-sys-color-surface-container-low: rgb(26 27 34);
  --md-sys-color-surface-container: rgb(30 31 38);
  --md-sys-color-surface-container-high: rgb(40 42 49);
  --md-sys-color-surface-container-highest: rgb(51 52 60);
  --md-extended-color-custom-color-color: rgb(171 205 255);
  --md-extended-color-custom-color-on-color: rgb(0 23 48);
  --md-extended-color-custom-color-color-container: rgb(87 147 221);
  --md-extended-color-custom-color-on-color-container: rgb(0 0 0);
}
